@import '@fancyapps/ui/dist/fancybox.css';
@import 'flatpickr/dist/plugins/monthSelect/style.css';

.main-color {
    color: #FF5612 !important;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
    border: 3px solid #FF5612;
}

.tooltip {
    position: absolute;
    left: -999px;
    z-index: 9;
    background: #fff;
    padding: 1rem 2rem 1rem 1rem;
    width: 15rem;
    line-height: 1.3;
    opacity: 0;
    margin-top: 1rem;
    border-radius: 0.475rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 21%);

    &__close {
        display: block;
        padding: 0;
        width: 1rem;
        height: 1rem;
        position: absolute;
        right: .5rem;
        top: .5rem;
        background: none;
        border: none;
        -webkit-appearance: none;

        &:after,
        &:before {
            display: block;
            content: "";
            position: absolute;
            width: 130%;
            height: 1px;
            background: #969696;
            left: -15%;
            top: 50%;
            margin-top: -2px;
        }

        &:after {
            transform: rotate(-45deg);
        }

        &:before {
            transform: rotate(45deg);
        }
    }

    @media(max-width: 750px) {
        width: 300px;
        margin: 0;
    }
}

.table-responsive::-webkit-scrollbar {
    height: 10px;
}

.dataTables_wrapper {
    position: relative;
}

.dataTables_processing {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100%;
    z-index: 2;
    transform: none !important;
    text-align: center;
}

.page-item:not(.active) .page-link:hover {
    color: #009ef7 !important;
}

.dataTables_empty {
    padding-top: .5rem !important;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem !important;
}

.dataTable_bottom {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    .dataTables_length {
        flex: 0 0 auto;
    }

    .dataTables_info {
        flex: 0 0 20%;
    }

    .dataTables_paginate {
        flex: 1 0 auto;
        max-width: calc(60% - 70px);
        margin: 0 !important;
    }
}

.form-select.select2-selection--clearable {
    padding-right: 4.9rem;
}

.table-responsive:not(.statistics-table) .dataTable.table th,
.table-responsive:not(.statistics-table) .dataTable.table td {
    padding: .3rem;
    vertical-align: middle;
    line-height: 1.3;
}

.table-responsive .dataTable.table th {
    vertical-align: middle;
}

.table-responsive:not(.statistics-table) .dataTables_wrapper {
    padding-bottom: 1rem;
}

.table-responsive:not(.statistics-table) .dataTable.table td select {
    min-width: 11rem;
}

.statistics-table .dataTables_wrapper {
    min-height: 50px;
}

table.dataTable>thead .sorting {
    cursor: pointer;

    &::after {
        display: none !important;
    }

    &>span {
        display: inline-block;
        position: relative;
        padding-right: 15px;

        span {
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            &::after {
                width: 10px;
                height: 8px;
                display: block;
                content: "";
                opacity: .5;
                background-repeat: no-repeat;
                background-position: center;
                background-color: transparent;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 8' fill='%23A1A5B7'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.42111 5.93537C4.22088 6.03839 3.9637 6.0191 3.78597 5.87137L0.177181 2.87153C-0.046034 2.68598 -0.060261 2.36951 0.145404 2.16468C0.351069 1.95985 0.698744 1.94422 0.921959 2.12977L4.14137 4.80594L7.06417 2.15586C7.27904 1.96104 7.62686 1.96165 7.84105 2.15722C8.05524 2.35279 8.05469 2.66927 7.83982 2.86409L4.54449 5.85194C4.50704 5.8859 4.46541 5.91371 4.42111 5.93537Z'/%3e%3c/svg%3e");
            }

            &::before {
                width: 10px;
                height: 8px;
                display: block;
                content: "";
                opacity: .5;
                background-repeat: no-repeat;
                background-position: center;
                background-color: transparent;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 8' fill='%23A1A5B7'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.42111 2.06463C4.22088 1.96161 3.9637 1.9809 3.78597 2.12863L0.177181 5.12847C-0.046034 5.31402 -0.0602611 5.63049 0.145404 5.83532C0.351069 6.04015 0.698744 6.05578 0.921959 5.87023L4.14137 3.19406L7.06417 5.84414C7.27904 6.03896 7.62686 6.03835 7.84105 5.84278C8.05524 5.64721 8.05469 5.33073 7.83982 5.13591L4.54449 2.14806C4.50704 2.1141 4.46541 2.08629 4.42111 2.06463Z'/%3e%3c/svg%3e");
            }
        }
    }

    &:hover {
        span span {

            &::before,
            &::after {
                opacity: 1;
            }
        }
    }

    &.sorting_asc {
        &>span {
            padding-right: 20px;
        }

        span span {
            &::before {
                opacity: 1;
                width: 13px;
                height: 13px;
                transform: translateY(25%);
            }

            &::after {
                opacity: 0;
            }
        }
    }

    &.sorting_desc {
        &>span {
            padding-right: 20px;
        }

        span span {
            &::after {
                opacity: 1;
                transform: translateY(-25%);
                width: 13px;
                height: 13px;
            }

            &::before {
                opacity: 0;
            }
        }
    }
}


.delete-candidate-btn,
.create-arrival-btn,
.create-candidate-btn,
.show-info-btn,
.comment-btn {
    display: flex !important;
    height: 2rem !important;
    width: 2rem !important;
    transition: .21s;

    svg circle,
    svg path {
        fill: #FF5612;
    }

    &:hover {
        opacity: .7;
    }
}

.delete-candidate-btn {
    margin-left: auto;
}

.create-candidate-btn {
    margin-left: .7rem;

    i {
        color: #FF5612;
    }
}

.show-info-btn {
    margin-left: .5rem;
    opacity: .8;

    svg {
        width: 1.7rem !important;
        height: 1.7rem !important;

        .let {
            fill: #fff;
        }
    }
}

.create-arrival-btn {
    margin-left: .7rem;
    opacity: .7;
}

.comment-btn {
    opacity: .8;
}

.status-actions {
    max-width: 100%;
    margin: 0;
    align-items: center;

    .form-select {
        flex: 0 1 14rem;
        width: 14rem;
    }
}

input#inn {
    text-transform: uppercase;
}

select.js-filter {
    overflow: hidden;
    max-height: 3.2rem;

    option {
        visibility: hidden;
    }
}

.js-filter {
    &.select2-selection--multiple {
        height: 3.3rem;
        display: flex;
        align-items: center;

        .select2-search {
            order: -1;
            max-width: 100%;

            &__field {
                max-width: 100%;
                font-weight: 500 !important;
                font-family: 'Roboto', sans-serif;
                font-size: 1.1rem;
                line-height: normal;
                margin: 0 !important;
                white-space: nowrap;
            }
        }

        .select2-selection__rendered {
            display: inline-flex;
            max-width: 100%;
            overflow: hidden;
        }

        .select2-selection__choice__display {
            white-space: nowrap;
        }
    }
}

.js-modal-view-image {
    text-align: center;
}

.modal-image-dialog {
    max-width: none;
    display: inline-block;

    .image {
        img {
            display: block;
            max-width: 70vw;
        }
    }
}

.js-modal-view-doc {
    .iframe {
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.add-dropzone {

    .dz-max-files-reached,
    .dz-started {
        pointer-events: none;
        color: rgba(255, 85, 18, 0.507);
    }

    .dz-started .dz-remove,
    .dz-max-files-reached .dz-remove,
    .dz-preview {
        pointer-events: all;
    }

    .dropzone {
        padding: 0;
        border: none;
        background: none;
        text-align: left;
    }

    .dropzone .dz-preview {
        display: block;
        max-width: 80px;
        min-height: 80px;
        margin-left: 0;
    }

    .dropzone .dz-progress {
        display: none;
    }

    .dropzone .dz-preview .dz-image {
        border: 1px solid #dfdfdf;
        width: 80px;
        height: 80px;
    }

    .dropzone .dz-preview .dz-details {
        top: 50%;
        left: calc(100% + 10px);
        max-width: none;
        width: 300px;
        height: auto;
        opacity: 1;
        padding: 0;
        text-align: left;
        transform: translateY(-50%);
    }

    .dropzone .dz-preview .dz-details .dz-filename {
        width: 100%;
    }

    .dropzone .dz-details .dz-size {
        display: none;
    }

    .dropzone .dz-preview .dz-image img:not(.pdf) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .dropzone .dz-preview .dz-image img.pdf {
        margin: 10px auto;
    }
}


.modal .btn-icon[aria-label="Close"] {
    background-color: transparent !important;
    -webkit-appearance: none;
    background: url('/assets/media/icons/duotune/general/gen040.svg') no-repeat;
    background-size: 100%;
    opacity: .25;
    transition: .21s;

    &:hover {
        opacity: .35;
    }
}

.sorting_disabled.sorting_asc:after {
    display: none !important;
}

.sorting_disabled.sorting_desc:after {
    display: none !important;
}

.housing-gallery,
.cars-gallery {
    .dz-progress {
        display: none !important;
    }

    .dz-message {
        justify-content: center;
        padding: 30px 0;
    }

    .dz-image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.housing-gallery {
    &__img {
        position: relative;
        border: 1px solid #d1d1d1;
        transition: .21s;

        &::before {
            display: block;
            content: "";
            padding-bottom: 100%;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &:hover {
            border: 1px solid #FF5612;
        }
    }

    &.dropzone {
        .dz-message {
            display: flex !important;
        }
    }
}

.housing-contact {
    &+.housing-contact {
        margin-top: 1.5rem;
        padding-top: 1.5rem;
        border-top: 1px solid #d1d1d1;
    }
}

input:read-only:not([type="checkbox"]):not([type="radio"]):not([type="file"]) {
    cursor: pointer;
    cursor: not-allowed;
    background: #fff !important;
    border: 1px solid #eef3f7 !important;
}

.js-status-input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

input.flatpickr-input[type="text"]:read-only:not([type=checkbox]):not([type=radio]):not([type=file]),
input.flatpickr-input+input[type="text"]:read-only:not([type=checkbox]):not([type=radio]):not([type=file]) {
    cursor: pointer !important;
    background: #f5f8fa !important;
    border: 1px solid #f5f8fa !important;
}

input.js-hours-input:read-only,
input.js-worklog-hours-input {
    width: 3.3rem;
    cursor: pointer !important;
    border: 1px solid #bdbdbd !important;
}

.js-fine-input,
.js-premium-input,
.js-bhp-form-input,
.js-client-hours-input {
    width: 4rem;
    cursor: pointer !important;
    border: 1px solid #bdbdbd !important;
}


.client-position {
    &+.client-position {
        margin-top: 1.5rem;
        padding-top: 1.5rem;
        border-top: 1px solid #d1d1d1;
    }
}

.is-me {
    border: 1px solid #969696;
}

.flatpickr-calendar.noCalendar.hasTime {
    max-width: 97px !important;
    box-shadow: 1px 1px 21px rgba(0, 0, 0, .21);
}

.leads-settings-table {
    td {
        padding: 5px 10px !important;
    }
}

.form-check.form-check-custom.form-check-sm .form-check-input {
    width: 1.3rem;
    height: 1.3rem;
}

.form-check.form-check-solid .form-check-input:checked {
    background-color: #FF5612;
}

.nav-line-tabs .nav-item .nav-link.active,
.nav-line-tabs .nav-item .nav-link:hover:not(.disabled) {
    border-bottom-color: #FF5612;
}

.js-select-all-for-select2 {
    position: absolute;
    right: 2.4rem;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border: none;
    background: none;
    padding: 0 !important;
    line-height: 1;
    color: #5e6278;
}

.select2-container--bootstrap5 .select2-selection__clear {
    right: 3.5rem;
}

.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon).btn-xs {
    padding: calc(0.3rem + 1px) calc(.9rem + 1px);
}

.document-preview {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.21);
    border: 1px solid #c9c9c9;

    &::before {
        display: block;
        content: "";
        padding-bottom: 141%;
    }

    &-field {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &__head {
            flex: 0 0 auto;
        }

        &__body {
            flex: 1 0 auto;
            display: flex;
            align-items: stretch;
            padding: 2rem;

            .tpl-text {
                width: 100%;
            }
        }

        &__foot {
            flex: 0 0 auto;
        }
    }
}

select:disabled {
    cursor: not-allowed;
    background: #fff !important;
    border: 1px solid #eef3f7 !important;
}

.xls-table {

    th,
    td {
        min-width: 14rem;
        padding: .3rem .7rem !important;
        border-left: 1px dashed #eff2f5;
    }

    td {
        padding: .7rem .7rem !important;
        white-space: nowrap;
    }
}

.js-status-dropzone {
    .dz-progress {
        display: none !important;
    }

    &.dz-max-files-reached {
        pointer-events: none;
    }

    .dz-remove {
        pointer-events: all;
    }
}

.modal-dialog_wide{
    max-width: 1024px;
}